.movieDiv{
    height: 100%;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    
}

.imageContainer:hover{
    cursor: pointer;
	transform: scale(1.1);
}

.imageContainer {
    margin-top: 20px;
    margin-left: 105px;
}

img{
    height: 250px;
    width: 180px;
}

.titleDiv{
    width: 140px;
    padding: 5px;
    text-align: start;
}

